.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3 { 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p { 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img {
	display:inline-block;
}


.our-webcoderskull {
  background: url("img/right-sider-banner.png") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block { 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure {
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a {
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover {
	color:#337ab7;
}
.our-webcoderskull .cnt-block p { 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.vote-us {
	margin:20px 0 0;
}
.vote-us li { 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.vote-us li .fa { 
   font-size:24px; 
   color:#767676;
}
.vote-us li .fa:hover { 
   color:#025a8e;
}

/*Media Card*/
.media {
    background: #fff;
    position: relative;
    margin-bottom: 15px;
    padding: 20px;
}

.media img {
    max-height: 400px;
}

.media-body {
    padding: 0 10px;
}

.container-carousel {
    padding-left: 8%;
    padding-top: 7%;
}
.container-carousel .col-md-4{
    padding-bottom:20px;
}

.container-carousel .mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #708198 !important;
}
.container-carousel figure img{ width:300px; }

#heroes-carousel {
    padding-bottom: 100px;
}
  
.carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
}

/* The colour of the indicators */

.carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 20px;
    height: 0px;
  }
  
  .carousel-indicators .active {
    background: #0fc9af;
  }
  
  
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  .item-box-blog {
    text-align: center;
    z-index: 4;
    padding: 20px;
  }

  .item-box-blog-data {
      color: white;
  }
  
  .item-box-blog-image {
    position: relative;
  }
  
  .item-box-blog-image figure img {
    width: 100%;
    height: auto;
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }
  
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
  }
  
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
    font-size: 13px;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }

  
.container-carousel .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
  
.btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
}
  